<launch>
  <!-- Launch AruCo Detect Qr code stuff -->
  <include file="$(find windblade_scanner)/launch/2_robot_setup/world_frame/zed2i/zed_2i_aruco_detect_qr.launch"/>

  <!-- Launches TF publisher for world frame. -->
  <node pkg="windblade_scanner" type="world_frame_publisher.py" name="world_frame_publisher" output="screen" >

  </node>
  
</launch>