<launch>

  <!-- Read launch arguments -->
  <arg name="file" default="$(find windblade_scanner)/config/7_waypoints/forward_turtlebot_path.txt"/>
  <arg name="laps" default="1"/>

  <!-- Set the arguments to parameters -->
  <param name="file" value="$(arg file)"/>
  <param name="laps" value="$(arg laps)"/>

  <!-- Turtlebot Driver node -->
  <node pkg="windblade_scanner" type="node.py" name="waypoint_seeker" output="screen"/>

</launch>
