<launch>
  <!-- NOTE: Camera launch file is not included because it must be troubleshooted to find the correct port id. 
  Including it in the msg feed would make it messy for debug. -->

  <!-- Launch Turtlebot base stuff. -->
  <include file="$(find windblade_scanner)/launch/2_robot_setup/turtlebot/turtlebot_bringup.launch"/>

  <!-- Launch World Frame. -->
  <include file="$(find windblade_scanner)/launch/2_robot_setup/turtlebot/world_frame/asus_xtion_pro/asus_xtion_pro_world.launch"/>

  <!-- Launch Pointcloud thresholding stuff (LEGACY) -->
  <!--
  <include file="$(find windblade_scanner)/launch/3_pc_thresholding/turtlebot/asus_xtion_pro/asus_xtion_pro_pc_threshold.launch"/>
  -->

  <!-- Launch Octomap stuff. -->
  <include file="$(find windblade_scanner)/launch/4_octomap/turtlebot/asus_xtion_pro/asus_xtion_pro_octomap_mapping.launch"/>

  <!-- Launch Fake Laserscanner stuff (LEGACY). -->
  <!--
  <include file="$(find windblade_scanner)/launch/5_point2laser/turtlebot/asus_xtion_pro/asus_point2laser.launch"/>
  -->
  <!-- Launch Localization stuff (LEGACY). -->
 <!-- <include file="$(find windblade_scanner)/launch/6_localization/turtlebot/asus_xtion_pro/asus_localization.launch"/>-->

  <!-- Launch RVIZ -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find windblade_scanner)/rviz/setup.rviz" />

  <!-- Launch Movement -->
  <include file="$(find windblade_scanner)/launch/7_waypoints/turtlebot/turtle_waypoint_seeker.launch"/>

</launch>
