<launch>

  <!-- Read launch arguments -->
  <arg name="file" default="$(find windblade_scanner)/config/7_waypoints/forward_turtlebot_path.txt"/>
  <arg name="goal_th_xy" default="0.05"/>
  <arg name="goal_th_ang" default="0.05"/>
  <arg name="desired_laps" default="3"/>
  <arg name="turn_spd" default="0.28"/>
  <arg name="linear_spd" default="0.05"/>
  <!-- Define topics -->
  <arg name="odom_topic" default="/odom"/>
  <arg name="cmd_vel_topic" default="/mobile_base/commands/velocity"/>

  <!-- Waypoint Driver node -->
  <node pkg="windblade_scanner" type="node.py" name="waypoint_seeker" output="screen">
    <!-- Set the arguments to parameters -->
    <param name="file" value="$(arg file)"/>
    <param name="goal_th_xy" default="$(arg goal_th_xy)"/>
    <param name="goal_th_ang" default="$(arg goal_th_ang)"/>
    <param name="desired_laps" default="$(arg desired_laps)"/>
    <param name="turn_spd" default="$(arg turn_spd)"/>
    <param name="linear_spd" default="$(arg linear_spd)"/>
    <!-- Define topics -->
    <param name="odom_topic" default="$(arg odom_topic)"/>
    <param name="cmd_vel_topic" default="$(arg cmd_vel_topic)"/>
  </node>

</launch>
