<launch>

  <!-- Read launch arguments -->
  <param name="waypoint_file" value="$(find windblade_scanner)/cfg/7_waypoints/turtlebot/forward_turtlebot_path.txt"/>
  <!-- Waypoint Driver node -->
  <node pkg="windblade_scanner" type="node.py" name="waypoint_seeker" output="screen">
    <!-- Set the arguments to parameters -->
    <param name="goal_th_xy" value="0.05"/>
    <param name="goal_th_ang" value="0.05"/>
    <param name="desired_laps" value="1"/>
    <param name="turn_spd" value="0.28"/>
    <param name="linear_spd" value="0.05"/>
    <!-- Define topics -->
    <param name="odom_topic" value="/odom"/>
    <param name="cmd_vel_topic" value="/mobile_base/commands/velocity"/>
  </node>

</launch>
