<?xml version="1.0" ?>
<!--Taken and modified from https://github.com/dan-riley/octomap_merger-->
<launch>
  <arg name="vehicle" default="windblade_scanner" />
  <arg name="ns" default="/$(arg vehicle)" />
  <!-- Type of node.  Current options are 'robot' and 'base' -->
  <arg name="type" default="robot" />
  <!-- Whether to merge everything (true) or prioritize own map (false) -->
  <arg name="fullMerge" default="true" />
  <!-- Whether to prioritize free space from any agent -->
  <arg name="freePrioritize" default="false" />
  <arg name="publishMergedPCL" default="true" />
  <arg name="publishDiffPCL" default="false" />
  <!-- Map resolution.  If different res needed for each need to change code
  	MAY need to adjust to larger values for performance. -->
  <arg name="resolution" default="0.01" />
  <!-- Rate to run the node at. Entirely bottlenecked by resources available...
	i.e. after a certain point, no matter how fast this is, the publish rate 
	WILL NOT increase. -->
  <arg name="rate" default="200.0" />
  <!-- Size of map differences to trigger a merge... if NOT full merging. -->
  <arg name="mapThresh" default="50" />

  <!-- Binary Map -->
  <!-- Topics to subscribe and publish -->
  <arg name="mapTopic" default="full_neighbors_topic_rbkairos" />
  <arg name="neighborsTopic" default="full_neighbors_topic_loaded_map" />
  <arg name="mergedTopic" default="full_octomap_updated" />
  <arg name="mapDiffsTopic" default="full_octomap_diffs_updated" />
  <arg name="numDiffsTopic" default="full_octonum_diffs_updated" />
  <arg name="pclMergedTopic" default="full_octomap_pc2_updated" />
  <arg name="pclDiffTopic" default="full_octo_map_pc2_diff_updated" />
  <!-- Octomap type - 0: Binary, 1: Full -->
  <arg name="octoType" default="1" />

  <node name="updated_map_full_octomap_merger" pkg="octomap_merger" type="octomap_merger_node" output="screen">
    <param name="vehicle" value="$(arg vehicle)" />
    <param name="type" value="$(arg type)" />
    <param name="fullMerge" value="$(arg fullMerge)" />
    <param name="publishMergedPCL" value="$(arg publishMergedPCL)" />
    <param name="publishDiffPCL" value="$(arg publishDiffPCL)" />
    <param name="octoType" value="$(arg octoType)" />
    <param name="resolution" value="$(arg resolution)" />
    <param name="rate" value="$(arg rate)" />
    <param name="mapThresh" value="$(arg mapThresh)" />
    <param name="mapTopic" value="$(arg mapTopic)" />
    <param name="neighborsTopic" value="$(arg neighborsTopic)" />
    <param name="mergedTopic" value="$(arg mergedTopic)" />
    <param name="mapDiffsTopic" value="$(arg mapDiffsTopic)" />
    <param name="numDiffsTopic" value="$(arg numDiffsTopic)" />
    <param name="pclMergedTopic" value="$(arg pclMergedTopic)" />
    <param name="pclDiffTopic" value="$(arg pclDiffTopic)" />
  </node>

</launch>
