<launch>

  <!-- Getting the Octomap msg into the Octomap merger custom msg type. -->
  <node pkg="windblade_scanner" type="octomap_3d_map_msg_converter.py" name="asus_xtion_pro_octomap_map_msg_converter" output="screen">
    <remap from="/octomap_binary" to="/octomap_binary2"/>
    <remap from="/octomap_full" to="/octomap_full2"/>
    <remap from="/binary_neighbors_topic" to="/binary_neighbors_topic1"/>
    <remap from="/full_neighbors_topic" to="/full_neighbors_topic1"/>
  </node>
  
  <!-- Combining the two types of octomap launch files for asus xtion pro cameras. -->
  <!--Binary Merge Launch-->
  <!--
  <include file="$(find windblade_scanner)/launch/4_octomap/map_merge_and_load/map_mergers/asus_xtion_pro/asus_xtion_pro_binary_octomap_merger.launch"/>
  -->
  <!-- Full Merge Launch-->
  <include file="$(find windblade_scanner)/launch/4_octomap/map_merge_and_load/map_mergers/asus_xtion_pro/asus_xtion_pro_full_octomap_merger.launch"/>


  <!-- Loading and updating Octomap. Don't use at the same time if building a map.-->
  <!-- Loading Octomap and merging it with current map-->
  <!--
  <include file="$(find windblade_scanner)/launch/4_octomap/map_merge_and_load/map_loaders/octomap_loader.launch"/>

  <include file="$(find windblade_scanner)/launch/4_octomap/map_merge_and_load/map_mergers/map_update_merger_full.launch"/>
  -->
  <!-- Making a service based on the merged msg which will allow merged map saving.-->
  <!--Uncomment if not loading prebuilt map.-->

  <node pkg="windblade_scanner" type="merged_service_provider.py" name="octomap_merged_service_provider" output="screen">
    <remap from="/binary_merged_octomap" to="/binary_merged_octomap1"/>
    <remap from="/full_merged_octomap" to="/full_merged_octomap1"/>
    <remap from="/octomap_binary_merged" to="/octomap_binary_merged1"/>
    <remap from="/octomap_full_merged" to="/octomap_full_merged1"/>
  </node>


  <!-- For visualization -->
  <!--Uncomment if not loading prebuilt map.-->
  
  <include file="$(find windblade_scanner)/launch/4_octomap/map_merge_and_load/map_loaders/asus_xtion_pro_octotopic_loader.launch"/>


</launch>
