<launch>
  <!-- These must be redefined based on the port ID's the cameras are plugged into-->
  <!-- The ROS stream resulting from launching this should identify these whenever the cameras are plugged into
  The machine -->

  <arg name="camera1_id" default="1d27/0601@1/10" />
  <arg name="camera2_id" default="1d27/0601@1/11" />
  <arg name="depth_registration" default="false" />
 
  <arg name="camera1_name" default="camera1" />
  <arg name="camera2_name" default="camera2" />

  <!-- Camera 1 -->
  <include file="$(find openni2_launch)/launch/openni2.launch" >
    <arg name="device_id" value="$(arg camera1_id)" />
    <arg name="camera" value="$(arg camera1_name)" />
    <!-- The main launch file will take care of the tfs-->
    <arg name="depth_registration" value="$(arg depth_registration)" />
    <arg name="publish_tf" value="false"/>
  </include>
	
  <!-- Camera 2 -->
  <include file="$(find openni2_launch)/launch/openni2.launch" >
    <arg name="device_id" value="$(arg camera2_id)" />
    <arg name="camera" value="$(arg camera2_name)" />
    <arg name="depth_registration" value="$(arg depth_registration)" />
    <!-- The main launch file will take care of the tfs-->
    <arg name="publish_tf" value="false"/>
  </include>

</launch>
