<?xml version="1.0"?>
 
<robot name="turtlebot" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Finding needed files -->
  <!-- Materials -->
  <xacro:include filename="$(find turtlebot_description)/urdf/common_properties.urdf.xacro"/>
  <!-- Kobuki base model -->
  <xacro:include filename="$(find kobuki_description)/urdf/kobuki.urdf.xacro" />
  
  <xacro:include filename="$(find turtlebot_description)/urdf/stacks/hexagons.urdf.xacro"/>
  <!-- Cameras with positions and orientations -->
  <xacro:include filename="$(find windblade_scanner)/urdf/turtlebot/sensor_xtion_pro_camera.urdf.xacro"/>


  <!-- Robot Creation -->
  <!-- Calling Kobuki Base Model  -->
  <xacro:kobuki/>
  <xacro:stack_hexagons   parent="base_link"/>
  <xacro:sensor_xtion_pro_cam parent="base_link" xtion_pro_cam_py="0.0205" camera_number="1" xyz="0 -0.13 0.15" rpy="0.0 -0.545 -1.57"/>
  <xacro:sensor_xtion_pro_cam parent="base_link" xtion_pro_cam_py="0.0205" camera_number="2" xyz="0.1 0.0 0.15" rpy="0.0 -0.49 0.0"/>
</robot>
